html {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: #222;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
}

a {
    color: #222;
}

.container {
    max-width: 800px;
}

.sidebar {
    margin: auto;
    display: table;
}

.sidebar-item {
    float: right;
    margin: 0;
    list-style: none;
    text-align: center;
}

.sidebar-link {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.docs-header h1 {
    margin: 0;
}

.docs-post {
    padding: 3rem 0 1rem 0;
    border-bottom: 1px solid #eee;
}

.recommended {
    padding: 3rem 0 0 0;
}

.recommended-title {
    margin: 0 0 1rem 0;
}

.recommended-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

nav.navbar a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar .icon {
    display: none;
}

.docs-header {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.index-header {
    font-size: 3rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.index-header a {
    color: #222;
    text-decoration: none;
}

.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}

.index-section {
    border-bottom: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}

@media screen and (max-width:680px) {
    nav.navbar ul {
        list-style: none;
        margin-bottom: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav.navbar li:not(:first-child) {
        display: none;
    }

    nav.navbar li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    nav.responsive {
        position: relative;
    }
    nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive li {
        float: none;
        display: inline;
    }
    nav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* Larger than phone */
@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
    }

    .docs-section {
        padding: 6rem 0;
    }
}

@media (min-width: 750px) {
    Navbar
    .navbar + .docs-section {
        border-top-width: 0;
    }

    .navbar, .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .navbar-spacer {
        display: none;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar ul {
        list-style: none;
        margin-bottom: 0;
    }

    .navbar li {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

    .navbar a {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }

    .navbar a.active {
        color: #33C3F0;
    }
}

.gist pre {
    font-size: 13px !important;
    line-height: 140% !important;
}

div.gist-meta {
    padding: 5px !important;
    font-size: 11px !important;
    line-height: 11px;
}