---
layout: default
---
{% include JB/setup %}

<div class="docs-header">
  <h1>{{page.title}}</h1>
  <div class="date">{{ page.date | date: '%B %d, %Y' }}</div>
</div>


<div>

  <article>

    <div class="docs-post">
      {{ content }}

      <div>
        <aside class="sidebar">
          <ul>
	        <li class="sidebar-item">
              <a class="sidebar-link" href="http://news.ycombinator.com/submit">
                <i class="fa fa-hacker-news" aria-hidden="true"></i>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="https://twitter.com/{{ site.author.twitter }}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="https://linkedin.com/in/{{ site.author.linkedin }}">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="https://www.facebook.com/{{ site.author.facebook }}">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>

  </article>




  {% if site.related_posts.first %}
  <div class="recommended">
    <h5 class="recommended-title">Related Posts</h5>
    <ul class="recommended-list">
      {% for post in site.related_posts limit:3 %}
      <li class="recommended-item">
        <a class="recommended-link" href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
